<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <link rel="shortcut icon" href="https://www.perimeterx.com/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style type="text/css">
        html {
            font-family: 'Montserrat', sans-serif;
        }

        .container {
            margin: 0 auto;
            width: 90%;
        }

        hr {
            height: 1.5px;
            background-color: black;
        }

        .header .logo {
            height: 20%;
            width: 20%;
        }

        .body {
            margin-top: 10%;
        }

    
    </style>
    <script type="text/javascript">
        function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
        }

        function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
        }

        $(document).ready(function () {
            $.get("http://eng-task.pxchk.net/api/v1/validate")
                .done(function (cookieJson) {
                    setCookie("_enforce", JSON.stringify(cookieJson));
                });
        });
    </script>
</head>

<body>
    <section class="container">
        <div class="header"><img class="logo"
                src="https://d33wubrfki0l68.cloudfront.net/174dd098861e68f39cfc255bb1dfa6d9f2df8544/73808/assets/images/logo.png">
            <hr>
        </div>
        <div class="body">
            <h1>You are a human and we love you.</h1>
        </div>

    </section>
</body>

</html>