<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SNYK TASK</title>
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/loader.js"></script>
    <script src="../static/go.js"></script>
    <link href="../static/loader.css" rel="stylesheet">
    <script>
        $(function () {
            var $G = go.GraphObject.make;
            var myDiagram = $G(go.Diagram, "dependencyDiagram", {
                maxSelectionCount: 1, // users can select only one part at a time
                "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
                layout: $G(go.TreeLayout, // specify a Diagram.layout that arranges trees
                    {
                        treeStyle: go.TreeLayout.StyleLastParents,
                        arrangement: go.TreeLayout.ArrangementHorizontal,
                        // properties for most of the tree:
                        angle: 90,
                        layerSpacing: 35,
                        // properties for the "last parents":
                        alternateAngle: 90,
                        alternateLayerSpacing: 35,
                        alternateAlignment: go.TreeLayout.AlignmentBus,
                        alternateNodeSpacing: 20
                    })
            });
            // the template we defined earlier
            myDiagram.nodeTemplate =
                $G(go.Node, "Horizontal", {
                        background: "white"
                    },
                    $G(go.Picture, {
                            margin: new go.Margin(10, 0, 10, 5),
                            width: 50,
                            height: 50,
                            background: "white"
                        },
                        new go.Binding("source")),
                    $G(go.TextBlock, "uknown", {
                            margin: new go.Margin(0, 0, 0, 5),
                            stroke: "black",
                            font: "bold 16px sans-serif"
                        },
                        new go.Binding("text", "name")),
                    $G(go.TextBlock, "0.0.0", {
                            margin: new go.Margin(0, 10, 0, 5),
                            stroke: "black",
                            font: "bold 16px sans-serif"
                        },
                        new go.Binding("text", "version"))
                );
            // define a Link template that routes orthogonally, with no arrowhead
            myDiagram.linkTemplate =
                $G(go.Link, {
                    routing: go.Link.Orthogonal,
                    corner: 5
                }, $G(go.Shape, { // the link shape
                    strokeWidth: 3,
                    stroke: "white"
                }));
            var model = $G(go.TreeModel);
            $('.box').css("display", "none");
            $('.box').jmspinner('large');
            $("#load").click(function () {
                model.nodeDataArray = [];
                $('.box').css("display", "")
                let name = encodeURIComponent($("#name").val());
                let version = encodeURIComponent($("#version").val());
                $.get("../package/" + name + "/" + version + "/json", {
                        dataType: "json"
                    })
                    .done(function (response) {
                        model.nodeDataArray = response;
                        myDiagram.model = model;
                    }).always(function () {
                        $('.box').css("display", "none");
                    });
            });

        });
    </script>
</head>

<body>
    <div class="box"></div>
    <label for="name">Package Name</label>
    <input id="name" type="text" value="express" />
    <label for="version">Package Version</label>
    <input id="version" type="text" value="latest" />
    <button id="load">load</button>
    <div id="dependencyDiagram" style="background-color: black; border: solid 1px black; height: calc(100vh - 50px);">
    </div>
</body>

</html>