<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Fault Tree</title>
    <meta name="description" content="A Fault Tree diagram showing gate shapes at each non-root node." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Copyright 1998-2019 by Northwoods Software Corporation. -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../static/go.js"></script>
    <script id="code">
        $(function () {
            var $G = go.GraphObject.make;
            var myDiagram = $G(go.Diagram, "myDiagramDiv", {
                "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
                layout: $G(go.TreeLayout, // specify a Diagram.layout that arranges trees
                    {
                        angle: 90,
                        layerSpacing: 35
                    })
            });
            // the template we defined earlier
            myDiagram.nodeTemplate =
                $G(go.Node, "Horizontal", {
                        background: "#44CCFF"
                    },
                    $G(go.Picture, {
                            margin: 10,
                            width: 50,
                            height: 50,
                            background: "red"
                        },
                        new go.Binding("version")),
                    $G(go.TextBlock, "Default Text", {
                            margin: 12,
                            stroke: "white",
                            font: "bold 16px sans-serif"
                        },
                        new go.Binding("text", "name"))
                );

            // define a Link template that routes orthogonally, with no arrowhead
            myDiagram.linkTemplate =
                $G(go.Link, {
                        routing: go.Link.Orthogonal,
                        corner: 5
                    },
                    $G(go.Shape, {
                        strokeWidth: 3,
                        stroke: "#555"
                    })); // the link shape

            var model = $G(go.TreeModel);

            $("#load").click(function () {
                var name = $("#name").val();
                var version = $("#version").val();

                $.get("../package/" + name + "/" + version + "/json", {
                        dataType: "json"
                    })
                    .done(function (response) {
                        model.nodeDataArray = response;
                        myDiagram.model = model;
                    });
            });

        });
    </script>
</head>

<body>
    <label for="name">Package Name</label>
    <input id="name" type="text" value="express" />
    <label for="version">Package Version</label>
    <input id="version" type="text" value="latest" />
    <button id="load">load</button>
    <div id="myDiagramDiv" style="background-color: #696969; border: solid 1px black; height: 1000px"></div>
</body>

</html>